# Virtual environments
env/
.venv

# Local cache
themepark_queues/themepark_queues/__pycache__/
themepark_queues/rides/__pycache__/
*.pyc

# Local DB
*.sqlite3

# Local debugging files
api_test.py

# Local Settings
settings.json

# Environment variables
.env