{% include 'base.html' %}

<body>
  <div class="container">
    </br>
    <h2>About Themepark Queues App</h2>


    </br>

    <div class="row">

      <div class="col-sm-4">
        
        <table class="table table-borderless about-card table-info table-active rounded-table">
          <thead class="bg-info">
            <tr>
              <th>Helpful tool for themepark goers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Enables users to view the wait times for themepark rides.
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="col-sm-4">
      
        <table class="table table-borderless about-card table-info table-active rounded-table">
          <thead class="bg-info">
            <tr>
              <th>
                Unique Features
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <li>Subscribe for email notifications of ride reopening when they are closed (only available once logged in).</li>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="col-sm-4">

        <table class="table table-borderless about-card table-info table-active rounded-table">
          <thead class="bg-info">
            <tr>
              <th>
                Future Features
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <li>Subscribe for email notifications if a rides wait time goes below a specified point.</li>
              </td>
            </tr>
            <tr>
              <td>
                <li>ML models will predict how the ride times will change so you can beat the queues.</li>
              </td>
            </tr>
            <tr>
              <td>
                <li>Other themeparks will be added, allowing the user to pick which themepark to look at.</li>
              </td>
            </tr>
            <tr>
              <td>
                <li>A user will be able to favourite certain rides to more quickly find it to track its queue time.</li>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</body>

{% include 'footer.html' %}