{% include 'base.html' %}

<body>
  <div class="container">
    </br>
    <h2>About Themepark Queues App</h2>


    </br>
    Helpful tool for themepark goers
    
    </br></br>
    Features
    <li>Subscribe for email notifications of ride reopening when they are closed (only available once logged in)</li>

    </br>
    Future Features
    <li>Subscribe for email notifications if a rides wait time goes below a specified point</li>
    <li>ML models will predict how the ride times will change so you can beat the queues</li>
  </div>
</body>

{% include 'footer.html' %}