{% include "base.html" %}

  <body>
    <div class="container">
          
      <div class="row">

        {% for rides in rides_list %}
          <div class="col-sm-6">
            <br/>
            <center>
              <!-- TODO: Get rid of single quotes around table title -->
              <!-- Name of each land/ride category -->
              <h2>
                <script>
                  var land_names_str = "{{ land_names }}";
                  var iteration = "{{ forloop.counter }}";
                  var land_names = (land_names_str.replace("[", "").replace("]", "").replace("'", "")).split(",");

                  document.write(land_names[iteration-1]);
                </script>
              </h2>
            </center>

            <table class="table table-borderless table-striped table-info table-hover table-active">
              <thead class="bg-info">
                <tr>
                  <th>Name</th>
                  <th>Wait Time</th>
                  <th></th>
                </tr>
              </thead>
              <tbody> 
                {% for ride in rides %}
                <tr>
                  <td>{{ ride.name }}</td>
                  {% if ride.open_state == True %}
                    <td>{{ ride.wait_time }}</td>
                  {% else %}
                    <td>Closed</td>
                  {% endif %}
                  {% if user.is_authenticated %}
                    <td>
                      <a href="ride-info/{{ ride.id }}">
                        <button class="ride-button">
                          <!-- TODO: Crop arrow image -->
                          <img class="arrow-expand" src="static/images/arrow_expand.png"/>
                        </button>
                      </a>
                    </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endfor %}
      </div>

    </div>
  </body>