{% include 'base.html' %}

<body>
  <div class="container">
    </br>
    <h2>{{ ride.name }}</h2>
    
    Ride category: {{ ride.category }}
    </br>
    
    {% if ride.open_state == True %}
      Wait time: {{ ride.wait_time }}
    
    {% else %}
      Wait time: Closed
        </br></br>

      {% if user.is_authenticated %}
        Ride currently closed
        <!-- TODO: Add button to subscribe for opening notifications depending on:
          1. Only if the ride is closed
          2. And user is not already subscribed  -->
        <form action="/ride-info/{{ ride.id }}" method="post">
          {% csrf_token %}
          <button type="submit">Subscribe </button>
        </form>

      {% else %}
        Please <a href="/login">login</a> to subscribe for notifications of ride reopening  

      {% endif %}

      {% if subscribed == True %}
        </br></br>
        You have subscribed
      {% endif %}
    {% endif %}

  </div>
</body>

{% include 'footer.html' %}