{% include 'base.html' %}

<body>
  <div class="container">
    </br>
    <h2>{{ ride.name }}</h2>
    
    Ride category: {{ ride.category }}
    </br>
    Wait time: {{ ride.wait_time }}


    {% if ride.open_state == False and user.is_authenticated %}
      </br></br>
      Ride currently closed
      <!-- TODO: Add button to subscribe for opening notifications depending on:
        1. Only if the ride is closed
        2. And user is not already subscribed  -->
      <form action="/ride-info/{{ ride.id }}" method="post">
        {% csrf_token %}
        <button type="submit">Subscribe </button>
      </form>
    {% endif %}

    {% if subscribed == True %}
      </br></br>
      You have subscribed
    {% endif %}
  </div>
</body>