/* General Style rules */

body {
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.asteriskField {
  display: none;
}

.arrow-expand {
  display: flex;
  height: 20px;
  width: 20px;
}

.ride-button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.navbar{
  box-shadow: 0px 6px 3px -3px #a9d8e7;
}

.navbar-logo {
  height: 28px;
  width: 28px;
}

.custom-footer {
  background-color: #d3e6ec;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: smaller;
}

.park-title {
  padding-top: 5px;
}

.container {
  flex: 1;
}

.table-rounded-corner {
  border-radius: 1.2em;
}

.rounded-table {
  border-collapse: collapse;
  border-radius: 1.2em;
  overflow: hidden;
  width: 100%;
  margin: 0;
}